.mainStyled{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
}
.divPaginacao{
    display: flex;
    width: 100%;
    justify-content: center;
    /* margin: 0px auto; */
}
.linksPaginacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    gap: 3rem;
}
.linksPaginacao a{
    display: flex;
    text-decoration: none;
    color: aquamarine;
    align-items: center;
    gap: .3rem;
}
